.vs/
*.o
*.swp
~*
*~
.idea/
cmake-build-debug/
cmake-build-debugandtest/
cmake-build-release/
*.stackdump
*.coredump
compile_commands.json

/build*
/out

.clangd
.cache

*.srctrlbm
*.srctrldb
*.srctrlprj
CMakeSettings.json

.DS_Store
.AppleDouble
.LSOverride

CMakeLists.txt.user*
CMakeCache.txt
.vscode
